.thread-card{
    height: 15rem;
    width:40rem;
    box-shadow: none !important;
}
.card-title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-image{
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    overflow:hidden;
    border: 1px solid rgba(255, 255, 255, 1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.card-image:hover {
    border: 1px solid rgba(1, 1, 1, .5);
  }
.image-grid{
    display: flex;
    width: 91vw;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: scroll;
}
.btn-controls{
    margin: 3px;
}
.btn-dl{
    width:100px;
}